<nav class="navbar  navu">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="../../assets/logo.jpg" alt="logo" class="logo">
       </a>
      <form class="d-flex">
        <button class="btn btn-outline-info" type="submit"> <a class="lea" routerLink="/auth_user" routerLinkActive="active">Utilisateur</a></button>
        <button class="btn btn-outline-info" type="submit"> <a class="lea" routerLink="/auth_admin" routerLinkActive="active">Admin</a></button>
      </form>
    </div>
  </nav>