
.navbar{
    padding-top: 0.5rem;
padding-bottom: 7.5rem;
}

.logo{
    width: 200px;
    height: auto;
 }
a{
color:rgb(32, 86, 131);
    text-decoration: none;
}



  nav{
    background: rgba(0, 0, 0, 0.219);
    height: 20px;
    width: 100%;
    position: sticky;
    z-index: 3; 
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  
  a.active,a:hover{
    background: dark;
    transition: .5s;
  }
  
    
    